<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/main :: materialize_head"></head>
<body>

	<!--Import jQuery before materialize.js-->
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../js/materialize.min.js"></script>

	<span th:replace="fragments/main :: header"> </span>
	<span th:replace="fragments/main :: breadcrumbs"> </span>

	<div class="col grey lighten-4 l12 center-align">
		<div class="container">
			<!-- Main content here -->
			<form action="/create_user" th:object="${form_model}" method="post">
				<div class="row">
					<div class="input-field col s12">
						<input id="sign-up-form-login" type="text" class="validate" th:field="*{login}">
						<label for="sign-up-form-login">Login </label>
					</div>
					<div class="input-field col s12">
						<input id="sign-up-form-password" type="password" class="validate" th:field="*{password}">
						<label for="sign-up-form-password">Password </label>
					</div>
					<div class="input-field col s12">
						<input id="sign-up-form-name" type="text" class="validate" th:field="*{name}">
						<label for="sign-up-form-name">Name </label>
					</div>
					<div class="input-field col s12">
						<input id="sign-up-form-surname" type="text" class="validate" th:field="*{surname}">
						<label for="sign-up-form-surname">Surname </label>
					</div>
				</div>
				<button type="submit"
				class="waves-effect waves-light btn center">Sign up</button>
			</form>
			<!--  -->
		</div>
	</div>

	<span th:replace="fragments/main :: footer"></span>
</body>
</html>