<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/main :: materialize_head"></head>
<body>

	<!--Import jQuery before materialize.js-->
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../js/materialize.min.js"></script>
	
	<script>
	  $(document).ready(function() {
		    $('select').material_select();
		  });
	</script>

	<span th:replace="fragments/main :: header"> </span>
	<span th:replace="fragments/main :: breadcrumbs"> </span>

	<div class="col grey lighten-4 l12 center-align">
		<div id="main-section" class="container">
			<!-- Main content here -->
			<h4>Add a new Reservation</h4>
			<div class="divider"></div>
			<form action="/create_reservation" method="post" th:object="${reservation_model}">
				<div class="row">
					<div class="col input-field s12">
						<input id="form-name" type="text" th:field="*{name}" required/>
						<label for="form-name">Name</label>
					</div>
					<div class="col input-field s12">
						<textarea class="materialize-textarea" id="form-description" th:field="*{description}"> </textarea>
						<label for="form_description">Description</label>
					</div>
					<div class="col input-field s12 m6">
						<select th:field="*{groupId}">
							<option th:each="users_group : ${users_groups}" th:value="${users_group.id}"
								th:text="${users_group.getName()}"></option>
						</select>
						<label>Users Group</label>
					</div>
					<div class="col input-field s12 m6">
						<select th:field="*{resourceId}">
							<option th:each="resource : ${resources}" th:value="${resource.id}"
								th:text="${resource.getName()}"></option>
						</select>
						<label>Resource</label>
					</div>
					<div class="col s12 range-field">
						<label>Quantity</label>
						<input type="range" min="1" max="50" th:field="*{quantity}"/>
						
					</div>
					<button class="waves-effect light-waves btn" type="submit">Create...</button>
				</div>
			</form>
		</div>
	</div>

	<span th:replace="fragments/main :: footer"></span>
</body>
</html>