<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/main :: materialize_head"></head>
<body>

	<!--Import jQuery before materialize.js-->
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../js/materialize.min.js"></script>

	<span th:replace="fragments/main :: header"> </span>
	<span th:replace="fragments/main :: breadcrumbs"> </span>

	<div class="col grey lighten-4 l12 center-align">
		<div id="main-section" class="container">
			<!-- Main content here -->
			<h4>Make reservation</h4>
			
			<div class="divider"></div>
			<h5>Details</h5>
			<div class="left-align">
				<p>Name: <span th:text="${reservation.getName()}"></span></p>
				<p>Description: <span th:text="${reservation.getDescription()}"></span></p>
			</div>
			
			<div class="divider"></div>
			<h5>Made reservations</h5>
			<h6>Choose to cancel</h6>
			<div class="collection">
				<a th:each="made_reservation : ${made_reservations}"
					th:text="${made_reservation.getLabel()}"
					class="collection-item"
					th:href="${'/cancel_reservation?id=' + made_reservation.getId()}"></a>
			</div>
			
			<div class="divider"></div>
			<h5>Available reservations</h5>
			<div class="collection">
				<a th:each="av_reservation : ${av_reservations}"
					th:text="${av_reservation.getLabel()}"
					class="collection-item"
					th:href="${'/reserve?id=' + av_reservation.getId()}"
					></a>
			</div>
		</div>
	</div>

	<span th:replace="fragments/main :: footer"></span>
</body>
</html>