<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/main :: materialize_head"></head>
<body>

	<!--Import jQuery before materialize.js-->
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../js/materialize.min.js"></script>

	<span th:replace="fragments/main :: header"> </span>
	<span th:replace="fragments/main :: breadcrumbs"> </span>

	<div class="col grey lighten-4 l12 center-align">
		<div class="container">
			<span class="flow-text">Reserve Lecture Hall</span>
			<div class="divider"></div>
			<a class="waves-effect waves-light btn-large">8:00-10:00</a> <a
				class="waves-effect waves-light btn-large">10:00-12:00</a> <a
				class="waves-effect waves-light btn-large">12:00-14:00</a> <a
				class="waves-effect waves-light btn-large">16:00-18:00</a> <a
				class="waves-effect waves-light btn-large">18:00-20:00</a> <br /> <br />
			<a class="waves-effect waves-light btn">Confirm</a>
		</div>
	</div>

	<span th:replace="fragments/main :: footer"></span>
</body>
</html>