<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/main :: materialize_head"></head>
<body>

	<!--Import jQuery before materialize.js-->
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../js/materialize.min.js"></script>

	<span th:replace="fragments/main :: header"> </span>
	<span th:replace="fragments/main :: breadcrumbs"> </span>

	<div class="col grey lighten-4 l12 center-align">
		<div id="main-section" class="container">
			<!-- Main content here -->
			
			<h4>Create new Users' Group</h4>
			<div class="divider"></div>
			<form action="/users_group" method="post" th:object="${form_model}">
				<div class="row">
					<div class="input-field col s12">
						<input id="create-users-group-form-name" type="text" th:field="*{name}">
						<label for="create-users-group-form-name">Name</label>
					</div>
					<div class="input-field col s12">
						<textarea th:field="*{description}"
							id="create-users-group-form-description" class="materialize-textarea">
						</textarea>
						<label for="create-users-group-form-description">Description</label>
					</div>
				</div>
				<button type="submit" class="waves-effect waves-light btn center">Create</button>
			</form>
		</div>
	</div>

	<span th:replace="fragments/main :: footer"></span>
</body>
</html>