<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/main :: materialize_head"></head>
<body>

	<!--Import jQuery before materialize.js-->
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/js/materialize.min.js"></script>

	<span th:replace="fragments/main :: header"> </span>
	<span th:replace="fragments/main :: breadcrumbs"> </span>

	<div class="col grey lighten-4 l12 center-align">
		<div id="main-section" class="container">
			<!-- Main content here -->
			<h4>Resources list</h4>
			<div class="divider"></div>
			<div class="collection">
				<a th:href="${'/settings/resource_details?id=' + resource.getId()}" class="collection-item"
					 th:each="resource : ${resources_list}" th:text="${resource.getName()}"></a>
			</div>
		</div>
	</div>

	<span th:replace="fragments/main :: footer"></span>
</body>
</html>